@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

$con:    #005789;
$grn:    #33A22B;
$lab:    #E31F26;
$ldem:   #FFB900;
$others: #B3B3B4;
$snp:    #FCDD03;
$ukip:   #7D0069;
$dup:    $others;
$sdlp:    $others;
$pc:     #4a7801;

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

iframe.fenced {
    display: none;
}

.gv-vote-For {
    color: black;
}

.gv-vote-Against {
    color: #444;
}

.gv-row:nth-of-type(1n+6) { 
    .gv-truncated & {
        display: none;
    }
}



.gv-party{
        border-radius: 5px;
        padding: 4px 4px 2px 2px;
        &.gv-Lab{
            background-color: $lab;
            color: white;
        }
        &.gv-SNP{
            background-color: $snp;
            color:#333;
        }
        &.gv-Con{
            background-color: $con;
            color: white;
        }
        &.gv-Lib{
            background-color: $ldem;
            color: #333;
        }
        &.gv-Green{
            background-color: $grn;
            color: white;
        }
        &.gv-DUP{
            background-color: $ukip;
            color: white;
        }
        &.gv-Plaid{
            background-color: $pc;
            color: white;
        }

}

.gv-table {
    display: table;
    border-spacing: 10px;
    @include fs-data(2); 
    @media (min-width: 450px) {
        @include fs-textSans(3)
    }
}

.gv-table-body {
    display: table-row-group;
}

.gv-headers {
    display: table-header-group;
    @include fs-bodyHeading(2);
}

.gv-row,.gv-headers {
    display: table-row;
}

.gv-datum,.gv-header {
    display: table-cell;
}

#search-field {
	height: 36px;
	border: 1px solid #dfdfdf;
	border-radius: 24px;
	padding: 4px 12px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 18px;
	color: #767676;
	max-width: 620px;
	box-sizing: border-box;

    &:focus {
    	outline: 0;
    	border: 1px solid #767676;
    	color: #333;
    }
}


.int-button {
	-webkit-font-smoothing: antialiased;
	background-color: #005689;
    border: 0;
    border-radius: 100px;
    color: white;
    display: inline-block;
    font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 30.7999992371px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-top: 0px;
    position: relative;
    padding-left: 38px;
    margin-top: 24px;

    &:hover {
    	cursor: pointer;
    }

    svg {
    	width: 1.5rem;
	    height: 1.5rem;
	    vertical-align: middle;
	    margin: auto;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0.4375rem;
	    fill: #fff;
    }
}
