@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

$con:    #005789;
$grn:    #33A22B;
$lab:    #E31F26;
$ldem:   #FFB900;
$others: #B3B3B4;
$snp:    #FCDD03;
$ukip:   #7D0069;
$dup:    $others;
$sdlp:    $others;
$pc:     #4a7801;

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

iframe.fenced {
    display: none;
}

.gv-party{
        border-radius: 5px;
        padding: 2px;
        &.gv-Lab{
            background-color: $lab;
            color: white;
        }
        &.gv-SNP{
            background-color: $snp;
            color:#333;
        }
        &.gv-Con{
            background-color: $con;
            color: white;
        }
        &.gv-Lib{
            background-color: $ldem;
            color: #333;
        }
        &.gv-Green{
            background-color: $grn;
            color: white;
        }
        &.gv-DUP{
            background-color: $ukip;
            color: white;
        }
        &.gv-Plaid{
            background-color: $pc;
            color: white;
        }

}

.gv-table {
    display: table;
    border-spacing: 10px;
    @include fs-data(2); 
    @media (min-width: 450px) {
        @include fs-textSans(3)
    }
}

.gv-table-body {
    display: table-row-group;
}

.gv-headers {
    display: table-header-group;
    @include fs-bodyHeading(2);
}

.gv-row,.gv-headers {
    display: table-row;
}

.gv-datum,.gv-header {
    display: table-cell;
}

#search-field {
	height: 36px;
	border: 1px solid #dfdfdf;
	border-radius: 24px;
	padding: 4px 12px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 18px;
	color: #767676;
	max-width: 620px;
	box-sizing: border-box;

    &:focus {
    	outline: 0;
    	border: 1px solid #767676;
    	color: #333;
    }
}